body {
    margin: 0%;
}
header, footer {
    background-color: rgb(139, 202, 202);
    padding: 1%; 
    height: 150px;
}

div {
    display: flex;
    height: 500px;
}

nav {
    background-color: rgb(243, 189, 12);
    width: 15%;
    padding: 1%;
    
}

article {
    background-color: rgb(214, 214, 118);
    padding: 1%;
    width: 42.5%;
}

aside {
    background-color: rgb(255, 255, 137);
    width: 42.5%;
    padding: 1%;
}
